body {
    margin: 0;
    width: 100%;
    color: black;
    font-family: 'Bitter', serif;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Pixelify Sans', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    background-color: #0d1b2a;
}

#top-content-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#graph-parameters-options {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.125em;
    margin-top: 0.625em;
    padding: 0px 1em;
}

#date-data-dropdowns{
  display: flex;
  flex-direction: row;
  font-size: 0.8rem; 
  justify-content: space-around;
}

#populate-graph-options {
    align-items: center; 
    text-align: center; 
    background-color: #e0e1dd;
    border-radius: 8px;
    width:33%;
    padding: 0px 1em;
}

#graph-parameters{
    background-color: #e0e1dd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    align-items: left; 
    text-align: left; 
    padding: 0px 0.5em 0px 0.5em ;
}



#sheet-dropdown {
  width: min-content; /* Ensure the select element takes the full available width */
}

#graph-parameters-options .populate-graph-button {
  border: none;
  background-color: #0466c8;
  color: whitesmoke; 
  margin-bottom: 0.9375em;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  border-radius: 8px;
  min-width: max-content;
  font-family: 'Bitter', serif;
  font-family: 'Maven Pro', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Pixelify Sans', cursive;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 0.5em 0.8em;
  /* Add box-shadow for a different style */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  /* Add a border to give it a different look */
  border: 2px solid #0466c8;
  max-width: 90%;
}

#graph-parameters-options .populate-graph-button:hover {
  background-color: #002855;
  /* Adjust border color on hover for contrast */
  border-color: #002855;
  /* Adjust box-shadow on hover for a subtle lift effect */
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

h3{
  margin: 0.625em 0;
  text-align: center;
}

h5{
  margin-bottom: 1.5em;
}


#search-input {
  display: block;
  line-height: 24px;
  padding: 10px 30px 10px 55px;
  border: 5px solid #0466c8;
  background-image: url(https://www.pokencyclopedia.info/sprites/items/items_3ds/i_3ds_master-ball.png);
  background-repeat: no-repeat;
  background-position: left center;
  width:480px;
  font-size: 2rem;
  height: auto;
  background-size: contain;
}

#search-input:focus {
    outline: none;
    border-color: #AC6AD5; 

}

#search-container {
    flex-grow: 1;
}

#search-section-container{
    margin: 0px auto;
}

#graph-container{

    margin-right: auto;
    margin-left: auto;
    width:80%;
}


#suggestions-list {
    list-style-type: none;
    padding: 0;
    border: 1px solid ;
    max-height: 9.375em;
    overflow-y: auto;
    display: none;
    font-size: 1.0rem;
}

#suggestions-list li {
    padding: 1.25em;
    cursor: pointer;
    background-color: #ffffff;
    margin:0;
}

#suggestions-list li:hover {
    background-color: #bdeeff;
}

/* Style the remove button */
.remove-button {
    background-color: transparent;
    border: none;
    color: red; 
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.3125em;
    vertical-align: middle; 
}

#search-results-container {
  margin-left: auto;
  margin-right: auto;
  width: 96%;
  margin-top: 3.125em;
  background-color: white; /* Set the background color to white */
}

#search-results {
  display: flex;
  border-image: url(https://luttje.github.io/css-pokemon-gameboy/styles/images/frame-hd.png) round;
  border-radius: 10px;
  border-image-slice: 42 fill;
  flex-wrap: wrap;
  padding: 0.3125em 0.625em;
  position: relative;
  border-style: solid;
  border-width: 1em;
}

#search-results li {
  display: flex;
  align-items: center;
  padding: 0.625em 1.25em;
  margin: 0.3125em 0.625em 0.3125em 0;
  background-color: whitesmoke;
  border: 1px solid #000;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s ease-in-out;
}

#search-results li:hover {
  background-color: #ffcc00;
}
  

/* clear all button CSS */

#clear-all-button{
    height: fit-content;
    align-self: flex-end;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1em;
}

.clear-all-button-pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.clear-all-button-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.clear-all-button-edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}

.clear-all-button-front {
  display: block;
  position: relative;
  padding: 12px 27px;
  border-radius: 12px;
  font-size: 1.1rem;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}

.clear-all-button-pushable:hover {
  filter: brightness(110%);
  -webkit-filter: brightness(110%);
}

.clear-all-button-pushable:hover .clear-all-button-front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.clear-all-button-pushable:active .clear-all-button-front {
  transform: translateY(-2px);
  transition: transform 34ms;
}

.clear-all-button-pushable:hover .clear-all-button-shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}

.clear-all-button-pushable:active .clear-all-button-shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}

.clear-all-button-pushable:focus:not(:focus-visible) {
  outline: none;
}

footer{
  text-align: center;
  color: whitesmoke;
}

@media (max-width: 896px) {
  .clear-all-button-front {
    font-size: 1.25rem;
    padding: 0.5em 1em;
  }
  #populate-graph-options .populate-graph-button span {
    display: block; /* Display each line as a block element */
    text-align: center; /* Center-align the text */
}
  #suggestions-list li {
    font-size: 1.25rem;
  }


}
